# Reading Files

In [1]:
import pandas as pd
import nltk
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
import re
from collections import Counter
from sklearn.feature_extraction.text import TfidfVectorizer
import sklearn

In [2]:
df_2 = pd.read_csv('Reviews_Final.csv')

# Group By Listing ID and then Clean Columns

In [3]:
#Clean Columns using Regular Expression
def clean_column(paragraph):
    paragraph = re.sub(r'<[^>]*>', ' ', paragraph)
    paragraph = re.sub(r'[^a-zA-Z ]', ' ', paragraph)
    paragraph = re.sub(r'[^\w\s]', ' ', paragraph)
    paragraph = paragraph.lower()
    return paragraph

In [4]:
grouped_df = df_2.groupby('listing_id')['translated'].apply(list).reset_index(name="translated")

In [5]:
grouped_df['translated'] = grouped_df['translated'].astype(str)
for row in range(grouped_df.shape[0]):
    grouped_df.iloc[row,1] = clean_column(grouped_df.iloc[row,1])

# Lemmetization and Stop Word Removal

In [7]:
#Lemmetization, Stop Word Removal for Translated.

for row in range(grouped_df.shape[0]):
    paragraph = grouped_df.iloc[row,1]
    if(type(paragraph)==str):
        sentences = nltk.sent_tokenize(paragraph)
        lemmatizer = WordNetLemmatizer()
        for i in range(len(sentences)):
            review = sentences[i].split()
            words = [lemmatizer.lemmatize(word) for word in review if word.lower() not in set(stopwords.words('english'))]
            sentences[i] = ' '.join(words)
        paragraph = ' '.join(sentences)
        grouped_df.iloc[row,1] = paragraph

In [8]:
grouped_df

              listing_id                                         translated
0                  44077  enjoyed stay much room comfortable neat clean ...
1                  85156  teresa family lovely host welcoming sociable i...
2                 159889  margaret helpful attentive husband nice always...
3                 162809  robbie welcoming good time sociable great sens...
4                 165828  wonderful time staying grainnes apartment apar...
...                  ...                                                ...
6204  707685389742134998  great host couple great spot super clean brand...
6205  707825078259308780  ana lovey host issue night came resolved issue...
6206  708679904448712003  fantastic stay house perfect everything u need...
6207  709451504510289772  best airbnb host ever humble helpful even thou...
6208  710054111904793673  noel great host room clean comfortable house s...

[6209 rows x 2 columns]

# Storing the dataframe in memory to use in different notebook

In [14]:
grouped_df['listing_id'] = grouped_df['listing_id'].astype(int)

In [15]:
%store grouped_df

Stored 'grouped_df' (DataFrame)